<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends 'base.html' %}



    {%  block content %}
    <div class="container">
        <h1>Welcome to the To-Do List App!</h1>
        <form action="/add_task" method="POST">
            <input type="text" name="task" placeholder="Enter a new task" required>
            <button type="submit">Add Task</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>